body{
    background-color: rgb(118, 187, 199);
}

h1{
    color:rgb(105, 104, 104);
    text-align: center;
    margin:auto;
}

li{
    display: inline;
    text-align: center;
    border: rgb(245, 168, 168) 0.5px;
    padding: 10px;
    margin: 10px;
    color:rgb(105, 104, 104);
}

section{
    border:solid whitesmoke 1px;
    margin: 10px;
    text-align: center;
    padding: 1px;
    color:grey;
    background-color: thistle;
}

img{
    width: 550px;
    float:inline-start;
}

footer{
    text-align: center;
    color: white;
}
